*{
	margin:0px;
	padding:0px;

}
body{
	width: 1366px; 
	height: 309px;
	min-width:800px;
	background:url(../images/back_login.jpg) no-repeat; 
	background-size:1366px ;
}
 .loginBox .inpBox, .loginBox .btBox{
	width:335px;
	float:left;
	margin: 30px 0px 0px 25px;
	
	
}
.loginBox{
//position:absolute;
	width:385px;
	height:480px;
	border:2px solid #ccc;
	float:right;
	margin-right:200px;
	margin-top:100px;
	border-radius:8px;
	box-shadow:5px  5px 30px #888;
	
}
.loginBox .icoBox{
	width:100px;
	height:100px;
	border-color:yellow;
	margin-top:20px;
	margin-left:142px;
	position:relative;
}
.loginBox .icoBox .ico{
	width:100px;
	height:100px;
	border-radius:50px;
	background:url(../images/1.jpg) no-repeat center;
	background-size:100px 100px ;
	position:relative;
}
.loginBox .icoBox .ico:hover{
	border:2px solid gray;
	
}
.loginBox .inpBox{
	height:120px;
	//border:1px solid blue;
	position:relative;
	
}
.loginBox .btBox{
	margin-top:20px;
	height:150px;
//	order:1px solid green;
	position:relative;
}
.loginBox .inpBox input{
	width:300px;
	height:40px;
	margin-top:13px;
	margin-left:18px;
	border-radius:5px;
	

}
.loginBox .inpBox input{
	width:300px;
	height:40px;
	margin-top:13px;
	margin-left:18px;
	border-radius:5px;
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
            }
.loginBox .inpBox input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
            }

.loginBox .btBox .loginBt{
	//display:none;
	width:180px;
	height:30px;
	background-color:blue;
	border-radius:5px;
	color:white;
	margin-left:78px;
	margin-top:30px;
	font-size:20px;

}

.loginBox .btBox .regsin{
	width:180px;
	height:30px;
	background-color:blue;
	border-radius:5px;
	color:white;
	margin-left:78px;
	margin-top:30px;
	font-size:20px;
	position:relative;
	
}

